---
permalink: /index.html
layout: page.liquid
header_text: Aleksandr Shevchenko
desc_text: Sophisticated Developer
contacts_text: Contacts
contacts:
  - 'name': Email
    'href': mailto:alexandre.shevchenko@gmail.com
  - 'name': LinkedIn
    'href': https://www.linkedin.com/in/ashev146/
  - 'name': Twitter
    'href': https://twitter.com/sheff146
  - 'name': Github
    'href': https://github.com/sheff146
---
<main class="main">
  <h1 class="main__title">{{ header_text }}</h1>
  <p class="main__desc">{{ desc_text }}</p>
  <section class="main__section section">
    <h2 class="section__title">{{ contacts_text }}</h2>
    <nav class="section__nav nav">
      <ul>
        {% for contact in contacts %}
          <li><a href="{{ contact.href }}" target="_blank"><span class="nav__title">{{ contact.name }}</span></a></li>
        {% endfor %}
        {% comment %}<li><a href="mailto:alexandre.shevchenko@gmail.com" title="Email"><img src="images/gmail.svg"{% endcomment %}
                                                                               {% comment %}class="icon"/><span{% endcomment %}
          {% comment %}class="title">Email</span></a></li>{% endcomment %}
      </ul>
    </nav>
  </section>
</main>
