---
permalink: /index.html
layout: page.liquid
header_text: Aleksandr Shevchenko
desc_text: Sophisticated Developer
contacts_text: Contacts
contacts:
  - 'name': Email
    'href': mailto:alexandre.shevchenko@gmail.com
  - 'name': LinkedIn
    'href': https://www.linkedin.com/in/ashev146/
  - 'name': Twitter
    'href': https://twitter.com/sheff146
  - 'name': Github
    'href': https://github.com/sheff146
---
<main>
  <h1>{{ header_text }}</h1>
  <p>{{ desc_text }}</p>
  <section>
    <h2>{{ contacts_text }}</h2>
    <nav>
      <ul>
        {% for contact in contacts %}
          <li><a href="{{ contact.href }}"><span class="title">{{ contact.name }}</span></a></li>
        {% endfor %}
        {% comment %}<li><a href="mailto:alexandre.shevchenko@gmail.com" title="Email"><img src="images/gmail.svg"{% endcomment %}
                                                                               {% comment %}class="icon"/><span{% endcomment %}
          {% comment %}class="title">Email</span></a></li>{% endcomment %}
      </ul>
    </nav>
  </section>
</main>
